<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.github.eyers">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:fullBackupContent="true"
        android:icon="@drawable/ic_paranoia"
        android:label="@string/app_name"
        android:roundIcon="@drawable/ic_paranoia_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activities.MainActivity"
            android:label="@string/title_activity_main"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".activities.LoginActivity"
            android:label="@string/title_activity_login"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustPan">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.HelpActivity"
            android:label="@string/title_activity_help"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".activities.NewItemActivity"
            android:label="@string/title_activity_new_item"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".activities.SetPINActivity"
            android:label="@string/title_activity_set_pin"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".activities.AboutActivity"
            android:label="@string/title_activity_about"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".activities.SlideshowActivity"
            android:label="@string/title_activity_slideshow"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".activities.ViewItemsActivity"
            android:label="@string/title_activity_view_items"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.ListActivity"
            android:label="@string/title_activity_list"
            android:theme="@style/AppTheme.NoActionBar" />
        android:windowSoftInputMode="adjustPan">
        <activity
            android:name=".activities.RegisterActivity"
            android:label="@string/title_activity_register"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".activities.ItemDetail"
            android:label="@string/title_activity_item_detail"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".activities.SearchActivity"
            android:label="@string/title_activity_search"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.github.eyers.activities.ViewItemsActivity" />
        </activity>
        <activity
            android:name=".activities.NewCategoryActivity"
            android:label="@string/title_activity_new_category"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".test.CamTestActivity"
            android:label="@string/title_activity_cam_test"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.AppSettingsActivity"
            android:label="@string/title_activity_app_settings"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustPan">

        </activity>
        <activity
            android:name=".activities.DisplaySettingsActivity"
            android:label="@string/title_activity_display_settings"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustPan">

        </activity>
        <activity
            android:name=".activities.SoundSettings"
            android:label="@string/title_activity_sound_settings"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustPan">

        </activity>
        <activity
            android:name=".activities.CategoryManagementSettings"
            android:label="@string/title_activity_category_mgmt_settings"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustPan">

        </activity>
        <activity
            android:name=".activities.ProfileSettings"
            android:label="@string/title_activity_profile_settings"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustPan">

        </activity>
        <activity
            android:name=".activities.ItemManagementSettings"
            android:label="@string/title_activity_item_mgmt_settings"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustPan">

        </activity>

        <provider
            android:name=".DbOperations"
            android:authorities="com.github.eyers.DbOperations"
            android:exported="false">

        </provider>

        <activity
            android:name=".activities.CategorySortingActivity"
            android:label="title_activity_sorting"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustPan">

        </activity>
        <activity
            android:name=".activities.ItemSortingActivity"
            android:label="title_activity_sorting"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustPan">

        </activity>
    </application>

</manifest>